<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FCC B+I Booking System</title>

    <!-- Bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <link rel="icon" href="/images/favicon.ico" />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet" />

    <link rel="stylesheet" href="/stylesheets/style2.css" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      #sidebarMenu a:hover {
        background-color: #6772a6;
        color: white;
      }

      .control-label:after {
        color: #d00;
        content: "*";
        margin-left: 5px;
        top: 7px;
      }

      .imagePreview {
        border: 1px solid #ddd;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      #map {
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
        height: 650px;
      }
    </style>
  </head>
</html>
