extends includes/layout 

block variables 
    - var activePage = 1

block nav-bar
    body(onload = "JavaScript:loadTrainSked();")
    include includes/nav
    +navigation(userlevel, activePage)

block layout-content 
    include includes/getTraining
    +bookTraining(files)
        



